.main {
    margin-bottom: 200px;
    position: relative;
}

.row {
    justify-content: space-between;
    text-align: center;

    h1 {
        padding: 80px 0 10px;
    }

    @media (max-width: 767px) {
        justify-content: center;
    }
}

.box {
    border-radius: 12px;
    width: 264px;
    height: 263px;
    margin: 12px;
}

.box-gray {
    background: getColor(secondary);
}

.box-pink {
    border: solid 3px getColor(primary);
}

.box-pink-bg {
    background: getColor(primary);
}