nav {
  background: getColor(secondary);
  position: absolute !important;
  z-index: 1;
  width: 100%;

  #navbarNav {
    justify-content: flex-end;
  }

  a {
    margin: 0;
  }

  @media (max-width: 767px) {
    .navbar-nav {
      padding: 20px 0;
    }
  }

  .active {
    color: getColor(primary) !important;
  }
}
